@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 339 71% 10%;
    --card: 0 0% 100%;
    --card-foreground: 339 71% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 339 71% 10%;
    --primary: 339 71% 23%;
    --primary-foreground: 40 33% 97%;
    --secondary: 339 20% 91%;
    --secondary-foreground: 339 15% 20%;
    --muted: 339 20% 91%;
    --muted-foreground: 339 10% 45%;
    --accent: 43 45% 81%;
    --accent-foreground: 339 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 76% 36%;
    --success-foreground: 210 40% 98%;
    --border: 339 20% 88%;
    --input: 339 20% 88%;
    --ring: 339 71% 23%;
    --chart-1: 339 71% 23%;
    --chart-2: 43 45% 81%;
    --chart-3: 339 50% 50%;
    --chart-4: 339 15% 20%;
    --chart-5: 339 10% 45%;
    --radius: 0.5rem;
    --sidebar-background: 339 71% 18%;
    --sidebar-foreground: 40 33% 90%;
    --sidebar-primary: 40 33% 97%;
    --sidebar-primary-foreground: 339 71% 10%;
    --sidebar-accent: 339 71% 25%;
    --sidebar-accent-foreground: 40 33% 97%;
    --sidebar-border: 339 71% 25%;
    --sidebar-ring: 43 45% 81%;
  }

  .dark {
    --background: 339 15% 10%;
    --foreground: 40 10% 80%;
    --card: 339 15% 12%;
    --card-foreground: 40 10% 80%;
    --popover: 339 15% 12%;
    --popover-foreground: 40 10% 80%;
    --primary: 339 71% 33%;
    --primary-foreground: 40 33% 97%;
    --secondary: 339 15% 25%;
    --secondary-foreground: 40 10% 80%;
    --muted: 339 15% 25%;
    --muted-foreground: 40 10% 55%;
    --accent: 43 45% 71%;
    --accent-foreground: 339 71% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 142 71% 45%;
    --success-foreground: 210 40% 98%;
    --border: 339 15% 25%;
    --input: 339 15% 25%;
    --ring: 339 71% 33%;
    --chart-1: 339 71% 33%;
    --chart-2: 43 45% 71%;
    --chart-3: 339 50% 50%;
    --chart-4: 40 10% 80%;
    --chart-5: 40 10% 55%;
    --sidebar-background: 339 15% 10%;
    --sidebar-foreground: 40 10% 80%;
    --sidebar-primary: 40 10% 80%;
    --sidebar-primary-foreground: 339 15% 10%;
    --sidebar-accent: 339 15% 25%;
    --sidebar-accent-foreground: 40 10% 80%;
    --sidebar-border: 339 15% 25%;
    --sidebar-ring: 43 45% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
